@font-face {
  font-family: Helvetica;
  src: url(./fonts/HelveticaWorld-Regular.ttf);
}

@font-face {
  font-family: Helvetica;
  src: url(./fonts/HelveticaWorld-Bold.ttf);
  font-weight: bold;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap");

/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #111;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #813939;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: white;
}

body {
  background-color: black;
}

a,
button,
input,
svg {
  cursor: pointer;
  vertical-align: sub;
}

textarea:focus,
input:focus {
  outline: none;
}

a {
  transition: 0.2s;
  text-decoration: none;
  color: white;
}
.active {
  color: #fa8888;
}
h1,
h2,
h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 0.9;
}

h1 {
  font-size: 7vw;
  margin-bottom: 2rem;
}
h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

button {
  background: none;
  border: none;
  outline: none;
  color: white;
  transition: 0.5s;
}

.flex {
  display: flex;
}
.center {
  align-items: center;
}
