@font-face {
    font-family: Helvetica;
    src: url(./fonts/HelveticaWorld-Regular.ttf);
}

@font-face {
    font-family: Helvetica;
    src: url(./fonts/HelveticaWorld-Bold.ttf);
    font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

textarea:focus, input:focus{
    outline: none;
}

body{
    color:white;
    background-color: black;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size:4rem;
}
p{
    font-family: 'Roboto', sans-serif;
}
nav {
    position: fixed;
    padding: 1rem;
    z-index: 10;
}
.search-bar {
  font-size:1.5rem;
  padding: 1rem 2rem;
  border: none;
  background-color: #2a2a2a;
  color: white;
  border-radius: 10rem;
}


.item-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.item {
    margin: 1rem;
}

.poster-img{
    border-radius: 1.2rem;
}

.exit-btn {
    position: absolute;
    right:0;
    margin:2rem;
    font-size:2rem;
    transition: 0.5s;
}

.exit-btn:hover{color:#1abc9c;}

.overview {
    z-index: 10;
    position: fixed;
    background-color: black;
    top:0;
    width:100%;
}

.overview > img {
    position: absolute;
    top:-10%;
    left:0;
    width: 100%;
    filter: brightness(60%);
    z-index: -100;
    mask-image: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    
}

.overview-content{
    height:100vh;
    padding: 10vw;
}

.overview-content h1 {
    font-size: 8rem;
}

.overview-subheading > span{
    color:#b4b4b4;
    padding: 1.5rem;
    font-size: 1.5rem;
}


.overview-flex {
    display: flex;
}

.overview-flex > div {
    padding: 1rem;
}

.overview-text {
    font-size: 1.5rem;
    flex-grow: 1;
}

.overview-rating {
    text-align: center;
    font-size: 1rem;
}

.genre > span{
    color:white;
    font-size: 1.2rem;
    border: 2px solid #16a085;
    border-radius: 0.3rem;
    padding: 0.5rem;
    margin: 1rem 1rem 1rem 0rem;
    display: inline-block;
}


.loader{
    position: absolute;
    height:100vh;
    background-color: black;
    width:100%;
}

.loader > div {
    top:50%;
    position: absolute;
    left:50%;
}
.slideshow img {
    width:100%;
    mask-image: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 20%);
    -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 20%);

}

.slideshow {
}

@media only screen and (min-width: 1800px) {
}