@font-face {
	font-family: Helvetica;
	src: url(../fonts/HelveticaWorld-Regular.ttf);
}

@font-face {
	font-family: Helvetica;
	src: url(../fonts/HelveticaWorld-Bold.ttf);
	font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: white;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: black;
	overflow: scroll;
	overflow: overlay;
}

a,
button,
input,
svg {
	cursor: pointer;
	vertical-align: sub;
}

textarea:focus,
input:focus {
	outline: none;
}

a {
	transition: 0.2s;
	text-decoration: none;
	color: white;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	line-height: 1;
}

h1 {
	font-size: 7vw;
	margin-bottom: 2rem;
}

h2 {
	font-size: 3rem;
	margin-bottom: 1rem;
}

h3 {
	font-size: 1.7rem;
	margin-bottom: 0.5rem;
}

p {
	font-size: 1.5rem;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
}

img {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
}

button {
	background: none;
	border: none;
	outline: none;
	color: white;
	transition: 0.5s;
}

hr {
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	margin: 1rem 0;
}

/* width */
::-webkit-scrollbar {
	width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
	background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border: 3px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
	border-radius: 1rem;
	background-color: rgba(101, 101, 101, 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	border: 3px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
	border-radius: 1rem;
	background-color: rgba(35, 35, 35, 0.8);
}

.active {
	color: #ffffff !important;
}

.nav-icon {
	width: 40px;
	height: 30px;
	position: relative;
	transform: rotate(0deg);
	transition: 0.5s ease-in-out;
	cursor: pointer;
}

.nav-icon span {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: white;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: 0.25s ease-in-out;
}

.nav-icon span:nth-child(1) {
	top: 0px;
}

.nav-icon span:nth-child(2),
.nav-icon span:nth-child(3) {
	top: 12px;
}

.nav-icon span:nth-child(4) {
	top: 26px;
}

.nav-icon.open span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
}

.nav-icon.open span:nth-child(2) {
	transform: rotate(45deg);
}

.nav-icon.open span:nth-child(3) {
	transform: rotate(-45deg);
}

.nav-icon.open span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
}
@media screen and (max-width: 1600px) {
	h1 {
		font-size: 6vw !important;
	}
}

@media screen and (max-width: 900px) {
	h1 {
		font-size: 3rem !important;
	}
	p {
		font-size: 1rem;
	}
}
